<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>InfinityTech</display-name>

	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
	<description></description>
		<display-name>EmployeeServlet</display-name>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>servlets.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employeeHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/managerHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AccountsServlet</display-name>
		<servlet-name>AccountsServlet</servlet-name>
		<servlet-class>servlets.AccountsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/accountsPending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/accountsResolved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/pendingByBossId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/resolvedByBossId</url-pattern>
	</servlet-mapping>
</web-app>
